<div id="addBoardPage">
    <h1>Add Board</h1>
    <br>
    <form name="addBoardForm" class="form">
        <table>
            <tr>
                <td><label for='location'>Location</label></td>
                <td colspan='3'><input id='location' ng-model='newBoard.location' class='form-control'></td>                
            </tr>
            <tr>
                <td><label for='landmark'>Landmark</label></td>
                <td colspan='3'><input id='landmark' ng-model='newBoard.landmark' class='form-control'></td>                
            </tr>
			<tr>
                <td><label for='pincode'>Pin Code</label></td>
                <td colspan='3'><input id='pincode' ng-model='newBoard.pincode' class='form-control'></td>                
            </tr>
			<tr>
                <td><label for='city'>City</label></td>
                <td colspan='3'><input id='city' ng-model='newBoard.city' class='form-control'></td>                
            </tr>
			<tr>
                <td><label for='state'>State</label></td>
                <td colspan='3'><input id='state' ng-model='newBoard.state' class='form-control'></td>                
            </tr>
			<tr>
                <td><label for='height'>Height</label></td>
                <td colspan='3'><input id='height' ng-model='newBoard.height' class='form-control'></td>                
            </tr>
			<tr>
                <td><label for='width'>Width</label></td>
                <td colspan='3'><input id='width' ng-model='newBoard.width' class='form-control'></td>                
            </tr>
			<tr>
                <td><label for='heightfromground'>Height from Ground</label></td>
                <td colspan='3'><input id='heightfromground' ng-model='newBoard.heightfromground' class='form-control'></td>                
            </tr>
			
            <tr><td></td><td><a class="btn btn-success" ng-click='saveData(newBoard)'>Save Board data</a> </td></tr>
        </table>
    </form>
</div>