<div id="acountsPage">
    <br>
    <div>
        <a class="btn btn-success" href="#/addboard">+ Add Board</a>
    </div>
    
    <br>
    
    <table class="table table-striped">
        <tr>
            <td>Location</td>
            <td>Landmark</td>
            <td>Pincode</td>
            <td>City</td>
            <td>State</td>
			<td>Height</td>
			<td>Width</td>
			<td>Height from ground</td>
        </tr>
        <tr ng-repeat="board in boards">
            <td>{{board.location}}</td>
            <td>{{board.landmark}}</td>
            <td>{{board.pincode}}</td>
            <td>{{board.city}}</td>
            <td>{{board.state}}</td>
			<td>{{board.height}}</td>
			<td>{{board.width}}</td>
			<td>{{board.heightfromground}}</td>

            <td><a class="btn btn-primary btn-xs" ng-click="updateBoard(board)" href="#/editboard">Edit</a> </td>
			<td><a class="btn btn-danger btn-xs" ng-click="deleteData(board._id, $index)">Delete</a> </td>
        </tr>
    </table>	
</div>